@media (max-width: 375px) {
  .modalLogin {
    margin-top: 50vh;
    height: 40vh;
    background: rgba(0, 0, 0, 0.342);
    .modalLogin__center {
      margin-top: 50px;
      border: 2px solid var(--clr-primary-4);
      border-radius: 15px;
      height: 200px;
      background: var(--clr-primary-6);

      .ModalLogin__header {
      }
      .modalLogin__footer {
        justify-content: space-between;
        button {
          margin-top: 50px;
          width: 160px;
          border-radius: 10px;
          height: 50px;
          background: var(--clr-primary-1);
          border: none;
        }
        a {
          color: var(--clr-primary-6);
        }
      }
    }
  }
}
