@media (max-width: 425px) {
  .jobsList {
    background: var(--clr-primary-4);
    padding-left: 0;
    padding-right: 0;
  }
  .header__top {
    background: var(--clr-primary-6);
    padding: 15px;
    height: 20vh;
    h2 {
      margin-bottom: 20px;
    }
  }
}
