.modal__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: none;
  .modal__headingCompany {
    color: var(--clr-primary-3);
  }
  .modal__headingLocation {
    color: var(--clr-primary-7);
  }
}
.modalDesc__header {
  background: var(--clr-primary-4);
  height: 40px;
  border-radius: 10px;
  padding: 8px;
  color: var(--clr-primary-3);
}
.modalDesc__center {
  margin: 20px 0;
  p {
    font-size: 15px;
  }
}
.modal__footer {
  border-top: none;
}
