* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary-1: #9969d3;
  --clr-primary-2: #5a5f69;
  --clr-primary-3: #2e3137;
  --clr-primary-4: #f3f3f3;
  --clr-primary-5: #e7e7e8;
  --clr-primary-6: #fff;
  --clr-primary-7: #9ea1a5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
